@import "tailwindcss";

:root {
  /* font-family: var(--font-roboto-mono), Arial, sans-serif; */
  --background: #fefaf1;
  --foreground: #171717;
  --appBorderColor: #dfdfdf;
  --appColorAccent: #18519b;
  --appColorLight: #e0eeff;
  --appColorDarkGrey: #707e91;
  --appColorCardBackground: #faf8f1;
}

:root.dark {
  --background: #202125; /* #0a0a0a */
  --foreground: #ededed;
  --appBorderColor: #666666;
  --appColorAccent: #66a7fc;
  --appColorLight: var(--background);
  --appColorCardBackground: #1e2027;
  --appColorDarkGrey: #b0c7e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: var(--font-roboto-mono), Arial, sans-serif; */
  font-size: 14px;
}

.appHeaderLink {
  font-family: var(--font-roboto-mono), Arial, sans-serif;
}
.appHeaderLink:hover {
  /* opacity: 0.6; */
  color:var(--appColorAccent)
}

button { 
  transition: none!important;
}