@import "tailwindcss";

:root {
  /* font-family: var(--font-roboto-mono), Arial, sans-serif; */
  --background: #fefaf1;
  --foreground: #171717;
  --appBorderColor: #dfdfdf;
  --appColorAccent: #18519b;
  --appColorAccentLight: #a2c4f1;
  --appColorLight: #e0eeff;
  --appColorDarkGrey: #707e91;
  --appColorLightGrey: #ededef;
  --appColorCardBackground: #faf8f1;
  --appColorLink: var(--appColorAccent);
    --appColorSuccess: #08ac68;
  --appColorWarning: orange;
  --appColorError: #ed5a5a;
}

:root.dark {
  --background: #202125; /* #0a0a0a */
  --foreground: #ededed;
  --appBorderColor: #666666;
  --appColorAccent: #66a7fc;
  --appColorAccentLight:  #356fbb;
  --appColorLight: var(--background);
  --appColorCardBackground: #1e2027;
  --appColorDarkGrey: #b0c7e9;
  --appColorLightGrey: #333956;
  --appColorSuccess: #76ccb4;
  --appColorWarning: orange;
  --appColorError: #ed5a5a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-roboto-mono), Arial, sans-serif;
  font-size: 14px;
}

/* @keyframes app-header-border {
  from { border-bottom-color: transparent; }
  to   { border-bottom-color: var(--appBorderColor); }
} */

.appHeader {
  font-family: var(--font-roboto-mono), Arial, sans-serif;
  /* border-bottom: 1px solid transparent;
  animation: app-header-border linear both;
  animation-timeline: scroll(root);
  animation-range: 0px 1px; */
}

.appHeaderLink {
  font-family: var(--font-roboto-mono), Arial, sans-serif;
}
.appHeaderLink:hover {
  /* opacity: 0.6; */
  color:var(--appColorAccent)
}

button { 
  transition: none!important;
}

.appTitle {
  font-family: var(--font-lora);
}

.appTextFont {
  font-family: var(--font-roboto-mono), Arial, sans-serif;
}

.chakra-menu__item {
  cursor: pointer;
}



